<!DOCTYPE html>
<html>
<head>
  <title>Pollsters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <base href="/application.html.erb">
</head>
<body ng-app="app">

  Testing 1, 2, 3
 <div ng-view>
 </div>
</body>

</html>
