<!DOCTYPE html>
<html>
<head>
  <title>Pollsters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <base href="/application.html.erb">
</head>
<body ng-app="app" ng-controller="AuthController as auth">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Pollster!</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown open">
              <a ng-click="auth.toggleDropdown()" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" ng-if="!auth.loggedIn" ng-show="auth.dropdown">
                <li><a ng-click="auth.toggleLogin()" href="#">Login</a></li>
                <li><a ng-click="auth.toggleSignup()" href="#">Signup</a></li>
              </ul>
              <ul class="dropdown-menu" role="menu" ng-if="auth.loggedIn" ng-show="auth.dropdown">
                <li><a href="/polls/new" ng-click="auth.dropdown = false">New Poll</a>
                <li><a ng-href="/{{auth.current}}" ng-click="auth.dropdown = false">Update Account</a></li>
                <li><a ng-click="auth.logout(); auth.dropdown = false;" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
  <!-- Log in Form -->
    <div class="row" ng-show="auth.showLogin">
      <div class="col-md-4 col-md-offset-4">
        <div class="row text-center" ng-if="auth.error">
          <p class="text-danger">{{auth.error}}</p>
        </div>
        <div class="col-md-1 col-md-offset-11">
          <button class="btn btn-danger btn-xs" ng-click="auth.toggleLogin()">x</button>
        </div>
        <form>
          <div class="form-group">
            <label for="loginEmail">Email:</label>
            <input class="form-control" if="loginEmail" type="text" ng-model="auth.user.email" />
          </div>
          <div class="form-group">
            <label for="loginPW">Password:</label>
            <input class="form-control" if="loginPw" type="password" ng-model="auth.user.password" />
            </label>
          </div>
          <button class="btn btn-primary" ng-click="auth.login()">Login</button>
        </form>
      </div>
    </div>

    <!-- Sign Up Form -->
    <div class="row" ng-show="auth.showSignup">

      <div class="col-md-4 col-md-offset-4">
        <div class="row text-center" ng-if="auth.emailErrors || auth.passwordErrors">
          <p class="text-danger" ng-if="auth.emailErrors" ng-repeat="emailError in auth.emailErrors track by $index">Email {{emailError}}.</p>
          <p class="text-danger" ng-if="auth.passwordErrors" ng-repeat="passwordError in auth.passwordErrors track by $index">Password {{passwordError}}.</p>
        </div>
        <div class="col-md-1 col-md-offset-11">
          <button class="btn btn-danger btn-xs" ng-click="auth.toggleSignup()">x</button>
        </div>
        <form>
          <div class="form-group">
            <label for="newUserEmail">Your Email:</label>
            <input class="form-control" if="newUserEmail" type="text" ng-model="auth.newUser.email" />
          </div>
          <div class="form-group">
            <label for="newUserPw">Enter a Password:</label>
            <input class="form-control" if="newUserPw" type="password" ng-model="auth.newUser.password" />
            </label>
          </div>
<!--           <div class="form-group">
            <label for="newUserPw2">Re-enter your password:</label>
            <input class="form-control" id="newUserPw2" type="password" />
          </div> -->
          <button class="btn btn-primary" ng-click="auth.createUser()">Sign Up</button>
        </form>
      </div>
    </div>
  </div>


  <div class="container" ng-view></div>
</body>
</html>
