<!DOCTYPE html>
<html>
<head>
  <title>Pollsters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <base href="/application.html.erb">
</head>
<body ng-app="app">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown open">
              <a ng-click="showLogin = !showLogin" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Login<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ng-click="showSignup = !showSignup" href="#">Signup</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row" ng-show="showSignup">
      <div class="col-md-4 col-md-offset-4">
        <form>
          <div class="form-group">
            <label for="newUserEmail">Your Email:</label>
            <input class="form-control" if="newUserEmail" type="text" ng-model="vm.newUser.email" />
          </div>
          <div class="form-group">
            <label for="newUserPw">Enter a Password:</label>
            <input class="form-control" if="newUserPw" type="password" ng-model="vm.newUser.password" />
            </label>
          </div>
<!--           <div class="form-group">
            <label for="newUserPw2">Re-enter your password:</label>
            <input class="form-control" id="newUserPw2" type="password" />
          </div> -->
        </form>
      </div>
    </div>
  </div>

  <div class="container" ng-view></div>
</body>

</html>
