<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="dropdown">
      <button class="'btn btn-default dropdown-toggle" type="button" id="dropdown" data-toggle='dropdown' aria-haspopup="true" aria-expanded="true"> Login
        <span class='caret'></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdown">
        <li<a ng-click="showLogin = !showLogin">Login</a></li>
        <li><a ng-click="showSignup = !showSignup">Signup</a></li>
      </ul>

    </div>
  </div>
</nav>
<div class="row">
</div>