
<div ng-show="showDevs">
  <div class="row">
    <div class="col-md-4">
      <div class="panel-default">
        <div class="panel-heading">
          <h3>Kate Stearns</h3>
        </div>
        <div class="panel-body text-left about">
         Kate Stearns is a Full-Stack Web Developer located in Seattle, WA. Her background is in apparel design and retail management. Kate is interested in learning technologies that build on her interest in combining design and commerce.
         <img src="/assets/stearns.jpg" width="280px" /><br />
        </div>
        <div class="panel-footer text-center">
          <a target="_blank" type="button" class="btn btn-primary" href="https://github.com/fabrikate">GitHub</a>
          <a target="_blank" type="button" class="btn btn-primary" href="https://www.linkedin.com/in/kate-stearns-64558b15">LinkedIn</a>
          <a target="_blank" type="button" class="btn btn-primary" href="http://fabrikate.github.io/pomodoroPainter/">Website</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel-default">
        <div class="panel-heading">
          <h3>Mary T. Mott</h3>
        </div>
        <div class="panel-body about text-center">
          Mary is a Full-Stack Web Developer in Seattle, WA. She enjoys JavaScript and Node.js much more than Ruby on Rails, but enjoys all the challenges and growth that any web development technology brings. Mary has a B.A. in Philosophy and enjoys critical analysis and finding solutions to different issues. Her employment experience includes management in commercial banking as well as customer service.
          <img src="/assets/mott.jpg" width="280px" /><br />
        </div>
        <div class="panel-footer text-center">
          <a href="https://github.com/marytmott" target="_blank" type="button" class="btn btn-primary">GitHub</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel-default">
        <div class="panel-heading">
          <h3>Brea Gaudioso</h3>
        </div>
        <div class="panel-body about text-center">
        Brea is a Full-Stack Web Developer located in Seattle, WA. With a background in Journalism, she is particularly interested in data-visualization and technologies that build upon connectivity and communication.
        <img src="/assets/gaudioso.jpg" width="280px" /><br />
      </div>
        </div>
        <div class="panel-footer text-center">
          <a target="_blank" type="button" href="https://github.com/BreaGaudioso" class="btn btn-primary">GitHub</a>
          <a target="_blank" type="button" href="https://www.linkedin.com/in/breagaudioso" class="btn btn-primary">LinkedIn</a>
          <a target="_blank" type="button" href="http://www.breagaudioso.com/" class="btn btn-primary">Website</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-xs-12 text-center">
      <h4> All three web developers behind the project are students in Galvanize's Full-Stack Immersive Web Development program.</h4><br />
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-xs-12 text-center">
    <h3>Pollsters was created using Ruby on Rails and AngularJS.</h3>
    <button ng-hide="showDevs" class="btn btn-default" ng-click="showDevs = !showDevs"> Meet the Team </button></br>
  </div>
</div>




