<div class="container-fluid row" ng-controller="PollsController">
  <h2>Create a Poll</h2>

  <form class="form-horizontal col-lg-6 col-xs-6">
    <input type="text" placeholder="Enter a Poll Question" ng-model="vm.poll.title" class="pollTitle" />
    <button class="pollTitle" ng-click="vm.savePollName()"> -> </button>
    <input type="text" placeholder="Response Option" ng-model="vm.option.answer" />
    <button ng-click="vm.save()">Add</button>
  </form>
  <div class="col-lg-6 col-xs-6">
    <h3>{{ vm.poll.title }}</h3>
    <ul>
      <li ng-repeat="option in vm.optionsDB">
        <label for="{{ option.answer }}">{{ option.answer }}</label>
        <input type="radio" id="option.answer" name="option">
        <p>Votes: {{ option.vote }} </p>
        <button ng-click="deleteOption(option)">delete</button>
      </li>
    </ul>
    <button ng-if="vm.poll.title" ng-click="vm.saveToDB()">Love it? Save it!</button>
  </div>
</div>
