<div class="container-fluid" ng-controller="PollsController">
  <h2>Create a Poll</h2>
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="polltitle">Question to Poll: </label>
        <input type="text" id="pollTitle" class="form-control" />
      </div>
      <div class="form-group">
        <label for="numOpts">How many response options do you want?</label>
        <input type="number" id="numOpts" class="form-control" min="2" max="10"/>
        <button ng-click="">Start</button>
      </div>
    </fieldset>
  </form>
</div>
