<div ng-controller="showController" class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-xs-4">
      <h1>{{ vm.showPoll.title }}</h1>
      <ul ng-repeat="option in vm.showPoll.options">
        <li><h2>{{option.answer}}</h2></li>
      </ul>
    </div>
    <div class="col-lg-7 col-xs-7">
      <form>
        <label for="doughnut">Doughnut</label>
        <input type="radio" id="doughnut" ng-model="selected" value="doughnut" name="chartType" />
        <label for="pie">Pie</label>
        <input type="radio" id="pie" ng-model="selected" value="pie" name="chartType" checked=true/>
      </form>
      <canvas ng-show="selected === 'doughnut'" id="doughnut" class="chart chart-doughnut" chart-data="vm.pollData" chart-labels="vm.pollLabels"></canvas>

      <canvas ng-hide="selected === 'doughnut'" id="pie" class="chart chart-pie" chart-data="vm.pollData" chart-labels="vm.pollLabels"></canvas>
      <img src="/assets/Logo.png" />
    </div>
  </div>
</div>
