<div ng-controller="showController" class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-xs-4">
      <div class="panel panel-warning">
        <div class="panel-heading text-center">
          <h3 class="panel-warning">{{vm.showPoll.title}}</h3>
        </div>
        <table class="table table-striped text-left">
          <thead>
          </thead>
            <tr>
              <th>Option</th>
              <th>Number of Votes</th>
          <tbody>
            <tr ng-repeat="option in vm.showPoll.options">
              <td>{{option.answer}}</td>
              <td>{{option.vote}}</td>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2 col-xs-2">
    </div>

    <div class="col-lg-8 col-xs-8">
      <div class="row">
        <canvas ng-show="selected === 'doughnut'" id="doughnut" class="chart chart-doughnut" chart-data="vm.pollData" chart-labels="vm.pollLabels"></canvas>

        <canvas ng-hide="selected === 'doughnut'" id="pie" class="chart chart-pie" chart-data="vm.pollData" chart-labels="vm.pollLabels"></canvas>
      </div>

    <div class="row">
      <div class="col-lg-6 pull-right">
        <form>
          <h4><label for="doughnut">
          <input type="radio" id="doughnut" ng-model="selected" value="doughnut" name="chartType" />
          Doughnut</label>

          <label for="pie">
          <input type="radio" id="pie" ng-model="selected" value="pie" name="chartType" checked=true/>
          Pie</label></br> </h4>
        </form>
      </div>
    </div>
  </div>
</div>
